body {
    max-width: 1600px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    body > * + * {
        padding: 0 2em;
    }
}

header > section {
    text-align: center;
    background-color: lightgray;
    padding: 5em 0;
    h2 {
        font-size: 3em;
    }
}

main > figure {
    position: relative;
    margin: 1em 0;
    img {
        width: 100%;
        aspect-ratio: 16/9;
        background-color: darkgray;
    }
    @media screen and (min-width: 768px) {
        figcaption {
            position: absolute;
            bottom: 1em;
            left: 1em;
            right: 1em;
        }
    }
}

main > section {
    figure {
        text-align: center;
        width: 95%;
        margin: 1em auto;
        img {
            width: 100%;
            aspect-ratio: 16/9;
            background-color: darkgray;
            border-radius: 1em;
        }
        figcaption {
            padding: 0 0.5em;
            text-align: start;
            p {
                margin-bottom: 0.5em;
            }
            a {
                padding: 0.5em 1em;
                background-color: #0077cc;
                color: white;
                border-radius: 0.3em;
            }
        }
    }
}

main > figure img {
    width: 100%;
    height: auto;
    max-width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover; /* Ensures the image fills the area without distortion */
    border-radius: 0.5em;
}

/* @media screen and (min-width: 768px) {
    main > section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 1em;
        figure {
            flex: 1 300px;
            width: 100%;
        }
    }
} */

@media screen and (min-width: 768px) {
    main > figure {
        img {
            border-radius: 0.5em;
        }
    }
    main > section {
        flex-wrap: wrap;
        column-gap: 1em;
        display: flex;
        div {
            container-type: inline-size;
            flex: 1 300px;

            figure {
                margin: 1em 0;
                width: 100%;
            }
        }
        @container (min-width: 650px) {
            figure {
                display: flex;
                width: 100%;
                img {
                    width: 80%;
                }
                figcaption {
                    width: 100%;
                }
            }
        }
    }
}
